{%block content%}
<div class="container mt-5">
    <h1 class="text-center text-warning">Admin Dashboard</h1>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Subjects</h5>
                    <p class="card-text">View subjects in the database</p>
                    <a href="{{ url_for('add_subject') }}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Quiz</h5>
                    <p class="card-text">View quizzes</p>
                    <a href="{{ url_for('create_quiz') }}" class="btn btn-primary">View Quiz</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Manage Users</h5>
                    <p class="card-text">Manage existing users</p>
                    <a href="{{ url_for('manage_users') }}" class="btn btn-primary">Manage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
