{% extends 'base.html' %}

{% block title %} Manage Users {% endblock %}

{% block content %}
    <h1>Manage Users</h1>
    
    <table class = "scrollable-table-container">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {%for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a class="btn btn-danger" href="{{url_for('delete_user',id = user.id)}}">Delete</a>
                </td>
            </tr>
        {%endfor %}
    </table>

    <div class="card mt-4">
        <div class="card-header">
            <h3 class="card-title">Subject-wise Average Scores</h3>
        </div>
        <div class="card-body text-center">
            <div id="bar_chart"></div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h3 class="card-title">Score Trends Over Quizzes</h3>
        </div>
        <div class="card-body text-center">
            <div id="line_chart"></div>
        </div>
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        let barData = {{ bar_chart | safe }};
        let lineData = {{ line_chart | safe }};
        
        Plotly.newPlot('bar_chart', barData.data, barData.layout);
        Plotly.newPlot('line_chart', lineData.data, lineData.layout);
    </script>
{% endblock %}
